$font-stack: 'lores-12', sans-serif;
$primary-color: white;
$light-gradient: #eee ,#555;
$heavy-gradient: #eee ,#333;
$rgb-gradient: 0deg, rgba(255, 0, 0, 1) 0%, rgba(0, 255, 0, 1) 50%, rgba(0, 0, 255, 1) 100%;