body {
    height: 100%;
    background-color: black;
    background-image: url('./Assets/Images/Background_Body.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: white;
}

#title {
    display: flex;
    justify-content: center;
    height: 300px;
}

#title-image {
    width: 500px;
    height: 300px;
    object-fit: cover;
    object-position: center center;
}

#title-image:hover {
    transition: 2s filter ease-out, 1s width ease-out;
    filter:hue-rotate(360deg);
    width: 550px;
}

#game-container {
    display: flex;
    justify-content: center;
    font-family: lores-12, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 2em;
}

canvas {
    border-radius: 500px;
    box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.05);
}

#ui-container {
    position: absolute;
    width: 900px;
    height: 900px;
}

#gravity-display {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    background: -webkit-linear-gradient(#eee, #555);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#gravity {
    font-size: 1.5em;  
}

#score-display {
    margin: 0px 0px;
    text-align: center;
    font-size: 1.5em;
}
#score {
    font-size: 2em;
    background: -webkit-linear-gradient(#eee, #555);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#side-stats {
    display: flex;
    align-items:flex-end;
    justify-content: space-between;
    width: 800px;
    height: 200px;
    margin: 0px auto;
}

#streak-display {
    display: inline-block;
    width: 125px;
    text-align: center;
    font-size: 1.1em;
}
#streak {
    padding: 0px 10px;
    font-size: 1.5em;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#scoremultiplier-display {
    display: inline-block;
    width: 125px;
    text-align: center;
    font-size: 1.1em;
}
#scoremultiplier {
    font-size: 1.5em;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes pulse {
    50% {
        font-size: 2em;
    }
}

@keyframes streakReset {
    25% {
        padding-left: 0px;
    }

    75% {
        padding-right: 0px;
    }
}