body {
    background-color: black;
    color: white;
}

#title {
    display: flex;
    justify-content: center;
    max-height: 300px;
}

#title-image {
    width: 500px;
    object-fit: contain;
    object-position: 0px -100px;
}

#game-container {
    display: flex;
    justify-content: center;
    font-family: lores-12, sans-serif;
    font-weight: 400;
    font-style: normal;
}

canvas {
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
}

#ui-container {
    position: absolute;
    width: 720px;
    height: 900px;
}

#streak-display {
    display: inline-block;
    width: 125px;
    margin: 10px 0px;
    text-align: center;
    font-size: 1.1em;
}
#streak {
    font-size: 1.5em;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#score-display {
    display: inline-block;
    width: 460px;
    margin: 10px 0px;
    text-align: center;
    font-size: 1.5em;
}
#score {
    font-size: 2em;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#streakmultiplier-display {
    display: inline-block;
    width: 125px;
    margin: 10px 0px;
    text-align: center;
    font-size: 1.1em;
}
#streakmultiplier {
    font-size: 1.5em;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}